html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

.appbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #052879;
    color: aliceblue;
    padding: 1px 30px;
    width: 100%;
    position:fixed;
    font-weight: 800; /*Grossura da fonte*/
}

.appbar_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

ul.appbar_list li {
    margin-right: 50px;
    cursor: pointer;
}

.options {
    color: aliceblue;
    text-decoration: none;
}

.btn-logout {
    border-radius: 30px;
    padding: 7PX;
    width: 90px;
    border-color: aliceblue;
    background-color: #052879;
    color: aliceblue;
    font-weight: 800; /*Grossura da fonte*/
    transition: background-color .5s;
    cursor: pointer;
}

.btn-logout:active {
    background-color: #000639;
}

.appbar_dir {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-perfil {
    margin-left: 10px;
    width: 40px;
}

.background {
    width: 100vw; /*Largura do centro até a borda (width)*/
    height: 100%; /*Largura do centro até a borda (height)*/
    background-image: url(../Pictures/wallpaper_lobby.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding:90px 0px;
}

.bg_box {
    width: 90vw;
    min-height: 90vh;  
    margin: auto;
    align-items: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 50px;
}

.bg_box > h1 {
    text-align: center;
    color: aliceblue;
}

.bg_box > p {
    text-align: justify;
    color: aliceblue;
    
}

.btn-back {
    width: 180px;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800; /*Grossura da fonte*/
    letter-spacing: 3px; /*Espaçamento entre as letras*/
    color: #ffffff9c;
    background-color: #052879;
    cursor: pointer; /*Ação de clicável no botão*/
    box-shadow: 0px 10px 40px 12px #3700ff52;
    transition: background-color .5s;
}

.btn-back:active {
    background-color: #000639;
}

.btn-top {
    /* width: 100%;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: rgb(195, 196, 197);
    font-weight: 800;
    letter-spacing: 3px;
    transition: background-color .5s;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.btn-top:hover {
    background-color: #383737;
}